In [1]:
import numpy as np
import pandas as pd

# Series

In [5]:
#help(pd.Series)

In [15]:
myIndex = ['Egypt','England','USA']

In [10]:
myData = [1965,1984,1865]

In [16]:
#mySeries = pd.Series(data=myData)
#mySeries = pd.Series(data=myData,index=myIndex)
mySeries = pd.Series(myData,myIndex)

In [12]:
mySeries
#type(mySeries)

0    1965
1    1984
2    1865
dtype: int64

In [17]:
mySeries.keys()

Index(['Egypt', 'England', 'USA'], dtype='object')

In [17]:
mySeries['Egypt']

1965

In [26]:
ages = {"sel" : 3 , "sen" : 5, "reo" : 6}
pd.Series(ages)

sel    3
sen    5
reo    6
dtype: int64

In [2]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [4]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [21]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [8]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [9]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [19]:
#Brodcasting
sales_q1 *2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [23]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [31]:
first_one = sales_q1.add(sales_q2,fill_value=0)
first_one

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [29]:
sales_q1.dtype

dtype('int64')

In [32]:
first_one.dtype

dtype('float64')

In [34]:
#if we want to specify its data type , if we want to give a name to the series (high level label for the series)
#pd.Series(dtype= ,name=)